@using CostaDiamante_HOA.Models
@model IEnumerable<CostaDiamante_HOA.Models.RegisterViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ApplicationUser> admins = ViewBag.admins;
}

<h2>Owners</h2>

<a href="@Url.Action("Register","Account")">
    <i class="fa fa-plus-circle"></i> Register New Owner / User
</a>
@*
    <div class="pull-right">
        <form method="post" action="@Url.Action("importOwnerFromDB","Owners")">
            <input type="hidden" name="registrationDate" value="@((new DateTime(2018,1,1)).ToString("yyyy-MM-dd"))"/>
            <button type="submit" class="btn btn-warning" href="@Url.Action("importOwnerFromDB","Owners")">Import Owners</button>
        </form>
    </div>*@
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roleName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roleName)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.userID })">
                        <i class="fa fa-list-alt"></i> Details
                    </a> |
                    <a href="@Url.Action("Edit","Account", new { id = item.userID })">
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </a> |
                    <a href="@Url.Action("Delete","Account", new { id = item.userID })">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@if (User.IsInRole(ApplicationUser.RoleNames.ADMIN)) { 
<h2>Administrators</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Username / Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var admin in admins)
        {
            <tr>
                <td>@Html.DisplayFor(model => admin.UserName)</td>
                <td>@Html.DisplayFor(model => admin.PhoneNumber)</td>
                <td>
                    <a href="@Url.Action("Edit","Account", new { id = admin.Id })">
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </a> |
                    <a href="@Url.Action("Delete","Account", new { id = admin.Id })">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}