@using CostaDiamante_HOA.Models
@model CostaDiamante_HOA.Models.ApplicationUser

@{ 
    String roleName = ViewData["roleName"] != null ? (string)ViewData["roleName"] : ApplicationUser.RoleNames.OWNER;
    bool showLinks = ViewData["showLinks"] != null ? (bool)ViewData["showLinks"] : true;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Owner's General Information
        </span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.fullName)</label>
                <div>@Html.DisplayFor(model => model.fullName)</div>
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Email)</label>
                <div>@Html.DisplayFor(model => model.Email)</div>
            </div>
            @if(Model is Owner) { 
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => ((Owner)Model).registrationDate)</label>
                <div>@(((Owner)Model).registrationDate.Value.ToLongDateString())</div>
            </div>
            }
        </div>
        <div class="col-md-12 hidden-print @(!showLinks?"hidden":"")">
            <a href="@Url.Action("Edit", "Account", new { id = Model.Id })">
                <i class="fa fa-pencil"></i>Edit
            </a> 
            @if(roleName == ApplicationUser.RoleNames.OWNER) {
                <span> | </span>
                <a href="@Url.Action("Details","Owners", new { id = Model.Id })">
                    <i class="fa fa-list-alt"></i> Details
                </a>
            }
        </div>
    </div>
</div>


