@using CostaDiamante_HOA.Models
@model CostaDiamante_HOA.Models.ApplicationUser

@{ 
    String roleName = ApplicationUser.RoleNames.OWNER;
    if (ViewData["roleName"] != null)
    {
        roleName = (string)ViewData["roleName"];
    }
}

<div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
            Owner's General Information
        </span>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal col-md-6">
                @if (!User.IsInRole(ApplicationUser.RoleNames.OWNER)) { 
                    <dt>
                        @Html.DisplayNameFor(model => model.fullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fullName)
                    </dd>
                }

            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("Edit", "Account", new { id = Model.Id })">
                <i class="fa fa-pencil"></i>Edit
            </a> 
            @if(roleName == ApplicationUser.RoleNames.OWNER) {
                <span> | </span>
                <a href="@Url.Action("Details","Owners", new { id = Model.Id })">
                    <i class="fa fa-list-alt"></i> Details
                </a>
                <span> | </span>
                <a href="@Url.Action("Index", "Permissions", new { id = Model.Id })">
                    <i class="fa fa-check-square-o"></i>Check in List
                </a>
            }
        </div>
    </div>
</div>


