@using Microsoft.AspNet.Identity
@using Sonora_HOA.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sonoran Restorts Notifications System</title>
        @Styles.Render("~/Content/template")
        @Styles.Render("~/Content/icons")
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="hidden-print">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="inner">
                <!-- Header -->
                <header id="header" class="hidden-print"></header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>
                <hr class="hidden-print"/>
                <footer class="hidden-print">
                    <p>&copy; @DateTime.Now.Year - Sonoran Spa Resort Notification System</p>
                    <p style="font-size: .8em">Developed by 
                        <a target="_blank" href="http://www.netcodesolutions.net/">
                            <span class="icon-netcode"><span class="path1"></span><span class="path2"></span></span> Netcode
                        </a>
                    </p>
                </footer>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="hidden-print">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu" >
                    <header class="major">
                        <a href="/">
                            <img src="~/images/logo.png" alt="Sonoran HOA" class="img-responsive">
                        </a>
                    </header>
                    <ul>
                        @if (Request.IsAuthenticated && Context.User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                        {
                            <li><a href="~/Owners">Owners List</a></li>
                            <li><a href="~/Condo">Condos</a></li>
                            <li><a href="~/Visits">Visits Report</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Details","Owners",new { id = User.Identity.GetUserId() })">Notify New Visit</a></li>
                            <li><a href="@Url.Action("Index","Permissions",new { id = User.Identity.GetUserId() })">Check in List</a></li>
                            <li><a href="~/Visits">Visits Record</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
