<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sonoran Restorts Notifications System</title>
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/css")
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            @Html.Partial("_LoginPartial")
            <div class="inner">
                <!-- Header -->
                <header id="header"></header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Sonoran Resort HOA</p>
                </footer>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->

                <nav id="menu">
                    <header class="major">
                        <a href="/">
                            <img src="~/images/logo.png" alt="Sonoran HOA" class="img-responsive">
                        </a>
                    </header>
                    <header class="major">
                        @*<ul>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>*@
                    </header>

                    @*@if (User.IsInRole("Admin"))
                    {*@
                        <ul>
                            <!--<li><a href="~/Home/Index">Homepage</a></li>-->
                            <li><a href="~/Owners">Owners</a></li>
                            <li><a href="~/Condo">Condos</a></li>
                            <li><a href="~/Visits">Visits</a></li>
                        </ul>
                    @*}*@

                </nav>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
