<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sonoran HOA</title>
    @Styles.Render("~/assets/css/main.css ")
    @Styles.Render("~/Content/css")
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header"></header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Sonoran HOA</p>
                </footer>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->

                <nav id="menu">
                    <header class="major">
                        <img src="~/images/LogoCamp.png" alt="Sonoran HOA" class="img-responsive">
                    </header>
                    <header class="major">
                        @*<ul>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>*@
                    </header>

                    @*@if (User.IsInRole("Admin"))
                    {*@
                        <ul>
                            <!--<li><a href="~/Home/Index">Homepage</a></li>-->
                            <li><a href="~/Owners">Owners</a></li>
                            <li><a href="~/Condo">Condos</a></li>
                            <li><a href="~/Guest">Guests</a></li>
                            <li><a href="~/Permissions">Permissions</a></li>
                        </ul>
                    @*}*@

                </nav>
                <!--Rol sucursales-->
                @*@if (User.IsInRole("Sucursal") || User.IsInRole("Admin"))
                {*@
                    @*<nav id="menu">
                        <ul>
                            <li><a href="~/Activos/">Activos</a></li>
                            <li><a href="~/Empleados/">Empleados</a></li>
                            <li><a href="~/PrestamosActivos/">Prestamos de Activos</a></li>
                            <li><a href="~/Sucursales/">Sucursales</a></li>
                            <li><a href="~/Departamentos/">Departamentos</a></li>
                            <li><a href="~/Inventarios/">Inventarios</a></li>
                        </ul>
                    </nav>*@
                @*}*@
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
