@model IEnumerable<Sonora_HOA.Models.Permissions>
@using Sonora_HOA.Models;
@using Sonora_HOA.GeneralTools;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Permissions permission = new Permissions();
    Owner owner = ViewBag.owner;
    List<CheckInList.TimePeriodPermissions> timePeriods = ViewBag.timePeriods;
    CheckInList currentCheckInList = ViewBag.currentCheckInList;
    CheckInList nextCheckInList = ViewBag.nextCheckInList;
    bool hidePartialGuestList = currentCheckInList.checkInListID > 0;
    string confirmationModalID = "confirmationModal";

    bool openCheckInList = false;
    if (ViewBag.openCheckInList)
    {
        openCheckInList = true;
    }

    ViewDataDictionary vdd = new ViewDataDictionary();
    vdd.Add("selectionMode", true);
    vdd.Add("ownerID", owner.Id);
}
<a href="@Url.Action("Details","Owners",new { id = owner.Id})">
    <i class="glyphicon glyphicon-arrow-left"></i>Back to Owner's Details
</a>
<h2>Owner Family and Guest Check in List</h2>
@if(Request.IsAuthenticated && User.IsInRole(ApplicationUser.RoleNames.ADMIN))
{
    @Html.Partial("../Owners/Partial_infoOwner", owner)
}


@*Panel to create a new CheckInList selecting guest from a list*@
<div class="panel panel-info">
    @*Collapsable panel*@
    <div class="panel-heading" onclick="changeIcon(this)"
         data-toggle="collapse" data-target="#pnlNewCheckInList">
        <span class="panel-title">New Check in List</span>
        <i class='pull-right fa fa-window-@(!openCheckInList?"maximize":"minimize")'></i>
    </div>
    <div class='panel-body @(!openCheckInList?"collapse":"in")' id='pnlNewCheckInList'>
        <div class="form-inline">
            <div class="form-group col-md-10">
                @*Dropdown to show the current and next 6 months periods*@
                @Html.LabelFor(model => currentCheckInList.period)
                <select id="period" name="period" onchange="periodChanged(this)">
                    <option value="current" start-date="@timePeriods[0].StartDate.ToString("yyyy-MM-dd")"
                            end-date="@timePeriods[0].EndDate.ToString("yyyy-MM-dd")" >
                        @timePeriods[0]
                    </option>

                    <option value="next" start-date="@timePeriods[1].StartDate.ToString("yyyy-MM-dd")"
                            end-date="@timePeriods[1].EndDate.ToString("yyyy-MM-dd")">
                        @timePeriods[1]
                    </option>
                </select>
            </div>
            @*Open modal to confirm checkin list registration*@

            <button type="button" class="btn btn-success" id="btnRegister"
                    data-toggle="modal" href='#@confirmationModalID' disabled>
                Register
            </button>
        </div>
        @*Shows the guest list for selection, shown when checkinList is found for selected year period*@
        <div id="Partial_ListGuest" style="display:@(hidePartialGuestList?"none":"block")" >
            @Html.Partial("../Guest/Partial_ListGuest", owner, vdd)
        </div>
        @*Else, Blocks selection and shows message*@
        <div id="checkInRegisteredMessage" class="alert alert-info" 
             style="display:@(!hidePartialGuestList?"none":"block")">
            A <strong>Check In list was already registered</strong> for the selected period. 
            You'll be able to register a new one when this period is finished. 
            You can notify a new visit in <strong>"Condominiums"</strong> section clicking 
            <a href='@Url.Action("Details","Owners",new { id= owner.Id })'>here</a>.
        </div>
    </div>
</div>

@if (User.IsInRole(ApplicationUser.RoleNames.OWNER))
{
    <div class="alert alert-info">
        In this list you register <strong>non-paying</strong> family and guests that will stay in your unit while
        you are not in attendance. Owners may have any guests with them while owner is also staying in their condo.
    </div>
}

@*Panel to show current checkin lists*@
<div class="panel panel-info" id="pnlCurrentCheckInList">
    <div class="panel-heading">
        <h2 class="panel-title">Current Check in List</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("Partial_ShowCheckInList", currentCheckInList)
    </div>
</div>

@*Panel to show next year period checkin lists*@
<div class="panel panel-info" style="display:none" id="pnlNextCheckInList">
    <div class="panel-heading">
        <h2 class="panel-title">Next Period Check in List</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("Partial_ShowCheckInList", nextCheckInList)
    </div>
</div>

@Html.Partial("../Shared/Partial_ConfirmationModal", new VMConfirmModalAttributes
{
    modalID = confirmationModalID,
    modalTitle = "Confirm Check In List Registration",
    primaryMessage = "You are going to confirm a Check In List with the selected guest and family list. " +
        "If you confirm, you wont be able cancel it until the period of 6 months "+
        "<strong id='spanPeriod'>"+ timePeriods.ElementAt(0) + "</strong> is finished.",
    javascriptFunction= "registerList",
    modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.INFO),
    callType = VMConfirmModalAttributes.CallType.JAVASCRIPT
})

@section Scripts{
    <script>
        var currentCheckInListID = @currentCheckInList.checkInListID;
        var nextCheckInListID = @nextCheckInList.checkInListID;
        function periodChanged(ddl) {
            var yearPeriod = $(ddl).val();
            var periodName = $(ddl).children(':selected').html();
            $('#spanPeriod').html(periodName);
            //Current and Next chenck in list panels are hide or shown
            if(yearPeriod == "current"){
                hidePartialGuest = currentCheckInListID>0;
                $("#pnlCurrentCheckInList").show();
                $("#pnlNextCheckInList").hide();
            }else{
                hidePartialGuest = nextCheckInListID>0;
                $("#pnlCurrentCheckInList").hide();
                $("#pnlNextCheckInList").show();
            }
            //Guest selection or blocking message are hide or shown
            if(hidePartialGuest){
                $("#Partial_ListGuest").hide()
                $("#checkInRegisteredMessage").show()
            }else{
                $("#Partial_ListGuest").show()
                $("#checkInRegisteredMessage").hide()
            }
        }

    </script>    
}

