@model Sonora_HOA.Models.CheckInList
@using Sonora_HOA.GeneralTools
@using Microsoft.AspNet.Identity
@using Sonora_HOA.Models
@{ 
    /*string modalID = "mdlConfirmation" + Model.checkInListID;*/
    bool selectionMode = false;
    bool showWildCards = false;
    string ownerID = "";
    string listID = "";
    string jsRegisterListFunction = "";
    if (ViewData["selectionMode"] != null)
    {
        selectionMode = (bool)ViewData["selectionMode"];
        ownerID = (string)ViewData["ownerID"];
    }

    if (ViewData["listID"] != null)
    {
        listID = (string)ViewData["listID"];
    }

    if (ViewData["showWildCards"] != null)
    {
        showWildCards = (bool)ViewData["showWildCards"];
    }

    if (ViewData["jsRegisterListFunction"] != null)
    {
        jsRegisterListFunction = (string)ViewData["jsRegisterListFunction"];
    }

    bool errorGuest = false;
    if (ViewBag.errorGuest != null)
    {
        errorGuest = ViewBag.errorGuest;
    }

    ViewDataDictionary vddNewGuest = new ViewDataDictionary();
    vddNewGuest.Add("errorGuestName", errorGuest);

    VMConfirmModalAttributes cancelationModalOptions = new VMConfirmModalAttributes();
    VMConfirmModalAttributes confirmWildCardsModalOptions = new VMConfirmModalAttributes();
    if (!selectionMode)
    {
        cancelationModalOptions = new VMConfirmModalAttributes
        {
            modalID = "mdlConfirmation" + Model.checkInListID,
            modalTitle = "Confirm cancelation",
            primaryMessage = "You are going to <strong>cancel the selected \"Guest and Family Check in List\"</strong>. " +
                                "If you confirm, the associated <strong>\"Visit Notifications\"</strong> to this check in list will be <strong>canceled too</strong>. " +
                                "You'll need to create a new \"Check in List\" in order to schedule a new visit in this period of the year.",
            action = "Delete",
            controller = "CheckInList",
            routeVals = new { id = Model.checkInListID },
            modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.DANGER),
            callType = VMConfirmModalAttributes.CallType.POSTBACK
        };
        confirmWildCardsModalOptions = new VMConfirmModalAttributes
        {
            modalID = "mdlConfirmationWildCards" + Model.checkInListID,
            modalTitle = "Confirm Unnamed Non-Paying Guests",
            primaryMessage = "You are going to <strong>confirm new \"Unnamed Non-Paying Guests\"</strong> for this already registered " +
            "Check In List. If you confirm, you won't be able to make any changes or add others guests to this Check In List " +
            "until the selected period is finished.",
            modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.WARNING),
            callType = VMConfirmModalAttributes.CallType.JAVASCRIPT,
            javascriptFunction = jsRegisterListFunction
        };
    }

    string btnRegisterUnammed = "btnRegisterUnnamed" + listID;
}

@*If CheckInList was already registered*@
@if (Model.status != CheckInList.CheckInListStatus.NO_REGISTERED)
{
    <div class='@(selectionMode?"hidden":"")'>

        @*CheckInList already registered message*@
        @if (Context.User.IsInRole(ApplicationUser.RoleNames.OWNER))
        {
            <div class="alert alert-info">
                A Check In List is already registered for this period. 
                You'll be able to register a new one when the period has finished.
                You can notify a new visit selecting a condo clicking 
                <a href="@Url.Action("Details","Owners", new { id=Model.ownerID })">here</a>.
            </div>
        }
        @*Period information*@
        @Html.LabelFor(model => model.period)
        <span>@Model.period.ToString("MMMM/dd/yyyy")</span>
        <div class="pull-right" style="margin-bottom: 1em">
            @*Cancel CheckInList just for admin*@
            @if (Context.User.IsInRole(ApplicationUser.RoleNames.ADMIN))
            {
                <button type="button" class="btn btn-danger"
                        data-toggle="modal" href='#@cancelationModalOptions.modalID' style="cursor:pointer">
                    Cancel List
                </button>
            }
            @*Register Unnamed Guests Button*@
            @if(Model.status == CheckInList.CheckInListStatus.WILD_CARDS_AVAILABLE) { 
                <button type="button" class="btn btn-success" id="@btnRegisterUnammed"
                        data-toggle="modal" href='#@confirmWildCardsModalOptions.modalID' style="cursor:pointer" disabled>
                    Add Unnamed Guests
                </button>
            }
        </div>
    </div>
}

@*Main guests listing for this check in list*@
<table class='table table-hover table-striped'>
    <thead>
        <tr>
            @if (selectionMode)
            {
                <th width="2em">
                    Select Guest
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.permissions.FirstOrDefault().fullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @*Check in list was already registered*@
        @if (Model.permissions != null && Model.permissions.Count() > 0)
        {
            foreach (var item in Model.permissions)
            {
                <tr class="@(item.isWildCard? "wildCardRow" : "")">
                    @if (selectionMode)
                    {
                        <td>
                            <input type="checkbox" value="@item.permissionsID" 
                                   onchange="selectChange@(listID)(this); enableOrDisableBtnRegister()" />
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.fullName)
                    </td>
                </tr>
            }
        }
        @*Checkin list doesnt exists*@
        else if (Model.checkInListID == 0)
        {
            <tr>
                <td colspan="2">
                    <div class="alert alert-info">
                        <strong>No Check In List registered</strong> for selected period (@Model.period).
                        @if (selectionMode) { 
                        <span>
                            Create a new one clicking
                            <strong>
                                <a href='@Url.Action("Index","Permissions", new { id=ownerID, openCheckInList = true })'>here</a>
                            </strong>.
                        </span> 
                        }
                    </div>
                </td>
            </tr>
        }
        @*Unknown problem*@
        else
        {
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger">
                        Current Check In List has no guests registered, 
                        this is probably a malfunction of the system. Refresh page and try again.
                        If problem persists, contact administrator.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Wildcards registrations when needed and none was previously registered*@
@if (showWildCards && Model.status == CheckInList.CheckInListStatus.WILD_CARDS_AVAILABLE) {
    ViewDataDictionary vddWildCards = new ViewDataDictionary();
    vddWildCards.Add("selectionMode", true);
    vddWildCards.Add("ownerID", Model.ownerID);
    vddWildCards.Add("listID", listID);
    vddWildCards.Add("guestLimit", Permissions_Visits.WILD_CARDS_LIMIT);
    vddWildCards.Add("wildCardsMode", true);
    vddWildCards.Add("btnRegisterUnammed", btnRegisterUnammed);
    List<Permissions> wildCards = new List<Permissions>();

    <div id="pnlExtraVisitors">
        <h3>Unnamed Non-Paying Guests</h3>
        <div id="Partial_ListGuest">
            <div class="alert alert-info">Only 4 unnamed guests in selected Check In List are allowed.</div>
            @Html.Partial("../Guest/Partial_ListPermissions", wildCards, vddWildCards)
        </div>
    </div>
}

@*Cancel Confirmation dialog *@
@if (!selectionMode)
{
    @Html.Partial("../Shared/Partial_ConfirmationModal", cancelationModalOptions)
    @Html.Partial("../Shared/Partial_ConfirmationModal", confirmWildCardsModalOptions)
}

@*Used when a visits is being registered, the guests are selected in the list*@
@if (selectionMode)
{
    <script>
        var checkedList@(listID) = new Array();
        //Check the condo to be associated
        function selectChange@(listID)(cb) {
            //Item added to the selected list items
            if ($(cb).is(":checked")) {
                checkedList@(listID).push({
                    permissionsID: $(cb).val(),
                })
            }
            else {
                //If unchecked, item is removed from the selected list items
                var id = $(cb).val();
                checkedList@(listID) = $.grep(checkedList@(listID), function (e) {
                    return e.permissionsID != id;
                });
            }
            console.log("checkedList@(listID)",JSON.stringify(checkedList@(listID)));
        }
    </script>
}

