@model List<Sonora_HOA.Models.Permissions>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().guestID)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.guestID)
                </td>
            </tr>
        }
    </tbody>



</table>
