@model List<Sonora_HOA.Models.Permissions>

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().condo.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().guest.name)
            </th>
            <th></th>
        </tr>
    </thead>

    @if (Model.Count > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.startDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.condo.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.guest.fullName)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete","Permissions", new { id = item.permissionsID, ownerID = item.condo.ownerID })" class="glyphicon glyphicon-remove" />
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>        
    }

</table>

@if (Model.Count == 0)
{
    <div class="alert alert-info" role="alert">There are no guests allowed to visit you for this semester. <br />Please add a new one.</div>
}
