@model Sonora_HOA.Models.Permissions
@using Sonora_HOA.Models

@{ 
    string ownerID = ViewBag.ownerID;
    List<CheckInList.TimePeriodPermissions> timePeriods = ViewBag.timePeriods;
}
   
<div class="form-inline">
    <div class="form-group col-md-10">
        @Html.LabelFor(model => model.checkInList.period)
        <select id="period" name="period">
            @foreach(var item in timePeriods)
            {
                <option value="@item.yearPeriod" start-date="@item.StartDate.ToString("yyyy-MM-dd")"
                        end-date="@item.EndDate.ToString("yyyy-MM-dd")">
                    @item</option>
            }
        </select>
    </div>
    <button id="btnRegister" class="btn btn-success" onclick="registerList()" disabled>Register</button>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
