@model List<Sonora_HOA.Models.Permissions>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().startDate)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().condo.name)*@Condo's Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().guest.name)*@Visitor's Name
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.condo.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.guest.fullName)
                </td>
                <td>
                    <a href="@Url.Action("Delete","Permissions", new { id = item.permissionsID, ownerID = item.condo.ownerID })" class="glyphicon glyphicon-remove"/>
                </td>
            </tr>
        }
    </tbody>



</table>
