@model Sonora_HOA.Models.CheckInList
@using Sonora_HOA.GeneralTools
@using Microsoft.AspNet.Identity
@using Sonora_HOA.Models
@{ 
    string modalID = "mdlConfirmation" + Model.checkInListID;

    bool selectionMode = false;
    string ownerID = "";
    if (ViewData["selectionMode"] != null)
    {
        selectionMode = true;
        ownerID = (string)ViewData["ownerID"];
    }
}

@if (Model.checkInListID > 0)
{
    <div class='@(selectionMode?"hidden":"")'>
        @Html.LabelFor(model => model.period):
        @Model.period.ToString("MMMM/dd/yyyy")
        @if (Request.IsAuthenticated && Context.User.IsInRole(ApplicationUser.RoleNames.ADMIN))
        {
            <button type="button" class="alert alert-danger pull-right"
                    data-toggle="modal" href='#@modalID'>
                Cancel List
            </button>
        }
    </div>
}
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            @if (selectionMode)
            {
                <th width="2em">
                    Select Guest
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.permissions.FirstOrDefault().guest.fullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.permissions != null && Model.permissions.Count() > 0)
        {
            foreach (var item in Model.permissions)
            {
                <tr>
                    @if (selectionMode)
                    {
                        <td>
                            <input type="checkbox" value="@item.permissionsID" onchange="selectChange(this)" />
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.guest.fullName)
                    </td>
                </tr>
            }
        }
        else if (Model.checkInListID == 0)
        {
            <tr>
                <td colspan="2">
                    <div class="alert alert-info">
                        <strong>No Check In List registered</strong> for selected period.
                        @if (selectionMode) { 
                        <span>
                            Create a new one clicking
                            <a href='@Url.Action("Index","Permissions",new { id=ownerID, openCheckInList = true })'>here</a>
                            and then clicking on <strong>"New Check In List"</strong> panel.
                        </span> 
                        }
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger">
                        Current Check In List has no guests registered, 
                        you can register common guests for your account clicking 
                        <a href='@Url.Action("Details","Owners",new { id=ownerID})'>here</a>.
                        Else, contact administrator.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Cancel Confirmation dialog *@
@Html.Partial("../Shared/Partial_ConfirmationModal", new VMConfirmModalAttributes
{
    modalID = modalID,
    modalTitle = "Confirm cancelation",
    primaryMessage = "You are going to cancel the selected guest and family check in list. " +
        "If you confirm, the owner or administrator must have to create a new check in list in order to schedule a new visit in this period of year.",
    action = "Delete",
    controller = "CheckInList",
    routeVals = new { id = Model.checkInListID },
    modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.DANGER),
    callType = VMConfirmModalAttributes.CallType.POSTBACK
})


@if (selectionMode)
{
    <script>
        var checkedList = new Array();

        //Check the condo to be associated
        function selectChange(cb) {
            //Item added to the selected list items
            if ($(cb).is(":checked")){
                checkedList.push({
                    permissionsID: $(cb).val(),
                })
            }
            else {
                //If unchecked, item is removed from the selected list items
                var id = $(cb).val();
                checkedList = $.grep(checkedList, function (e) {
                    return e.permissionsID != id;
                });
            }

            $("#btnRegister").prop('disabled', checkedList.length == 0);

            console.log(JSON.stringify(checkedList));
        }
    </script>
}

