@model IEnumerable<CostaDiamante_HOA.Models.Condo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Condominiums List</h2>

<a href="@Url.Action("Create")">
    <i class="fa fa-plus-circle"></i> Register New Condo
</a>

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner.fullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.owner.fullName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.condoID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.condoID }) |
                    @if (item.ownerID != null)
                {
                        @Html.ActionLink("Owner", "Details", "Owners", new { id = item.ownerID }, null)
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
