@model Sonora_HOA.Models.Owner

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>Owner: </strong>@Model.fullName
        </h2>
    </div>
    <div class="panel-body">
        <div>
            <hr />
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
           </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Register New Visit", "Create", "Visits", new { id = Model.Id }, null) |
            @Html.ActionLink("Back to List", "Index") |
        </p>
    </div>
</div>


