@model CostaDiamante_HOA.Models.Permissions
@{ 
    bool errorGuestName = false;
    string addFunctionJS = "";
    string listID = "";
    if (ViewData["addFunctionJS"] != null)
    {
        addFunctionJS = (string)ViewData["addFunctionJS"];
        listID = (string)ViewData["listID"];
    }
    string formID = "newGuestForm" + listID;
}

@*Form to register a new Guest*@
@using (Html.BeginForm("Create", "Guest", FormMethod.Post,
    new { @class = "form-inline", id= formID, onsubmit = addFunctionJS + "()" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.name)
            @Html.EditorFor(model => model.name, new
           {
               htmlAttributes =
               new { @class = "form-control", onkeyup = "validateGuestName" + listID + "()" }
           })
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.lastName)
            @Html.EditorFor(model => model.lastName, new
           {
               htmlAttributes =
               new { @class = "form-control", onkeyup = "validateGuestName" + listID + "()" }
           })
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
        <button id="btnRegisterGuest" type="button" class="btn btn-primary"
                onclick='@(addFunctionJS+"()")' disabled>
            Add Guest
        </button>
    </div>
}

<div id="guestErrorMsg" style='display:@(errorGuestName?"block":"none")' 
     class="field-validation-error col-md-12">Fill the form to save a new guest.</div>
<br />
<script>
    function validateGuestName@(listID)() {
        var formID = '@formID'
        var name = $("#@formID #name").val();
        var lastName = $("#@formID #lastName").val();
        var validName = lastName.trim() && name.trim();
        $("#@formID #btnRegisterGuest").attr("disabled", !validName)
    }
</script>