@model List<VMOwnerHOAQuartersRow>
@using CostaDiamante_HOA.Models

@{
    int year = ViewBag.year == null ? DateTime.Today.Year : ViewBag.year;
    ViewBag.Title = "HOA Fees General Report - Year: "+year;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="visible-print">
    @Html.Partial("ReportHeader")
</div>

<div class="pull-right">
    <strong>Report At: </strong><span>@DateTime.Today.ToLongDateString()</span>
</div>
<h2>HOA Fees Report Year: @(year)</h2>

@{
    ViewDataDictionary vddReport = new ViewDataDictionary();
    vddReport.Add("year", year);
}

@*Show Table Report*@
@Html.Partial("../Reports/Partial_HOAFeesReport", Model, vddReport)

@section Scripts{
    @Scripts.Render("~/bundles/jquery-datatables-reports")
    <script>
        @*INitialize datatables js in the table report*@
        initReport()
    </script>
}