@using Microsoft.AspNet.Identity;
@using System.Configuration;
@using CostaDiamante_HOA.Models
@{ 
    string envMode = ConfigurationManager.AppSettings["env"];
    envMode = envMode == null ? "dev" : envMode;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Costa Diamante Resorts</title>
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/jqueryui")
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        @if(envMode == "stg") {
            <div class="alert alert-warning pnlTitleMode" style="text-align: center">TEST MODE</div>
        }
        <!-- Main -->
        <div id="main">
            <div class="hidden-print">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="inner">
                <!-- Header -->
                <header id="header" class="hidden-print">
                </header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>
                <br />
                <footer class="hidden-print">
                    <p>&copy; @DateTime.Now.Year - Costa Diamante Resort HOA System</p>
                    <p style="font-size: .8em">Developed by 
                        <a target="_blank" href="http://www.netcodesolutions.net/">
                            <span class="icon-netcode"><span class="path1"></span><span class="path2"></span></span> Netcode
                        </a>
                    </p>
                </footer>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="hidden-print inactive">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu" >
                    <header class="major">
                        @{ 
                            string urlHome = @"/";
                            if (User.IsInRole(ApplicationUser.RoleNames.OWNER))
                            {
                                urlHome += @"Owners/Details";
                            }
                        }
                        <a href='@urlHome'>
                            <img src="~/images/logo_white.png" alt="Costa Diamante HOA" class="img-responsive">
                        </a>
                    </header>
                    <ul>
                        @if (Context.User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                        {
                            <li><a href="~/Owners"><i class="fa fa-users"></i> Owners and Users</a></li>
                            <li><a href="~/Condo"><i class="fa fa-home"></i> Condos</a></li>
                            <li><a href="~/Visits"><i class="fa fa-history"></i> Visits History</a></li>
                            <li><a href="~/Reports/HOAFeesByYear"><i class="fa fa-money"></i> HOA Fees Report</a></li>
                        }
                        //For Owners or Landlords
                        else if (User.IsInRole(ApplicationUser.RoleNames.OWNER) || User.IsInRole(ApplicationUser.RoleNames.LANDLORD))
                        {
                            <li>
                                <a href="@Url.Action("Details","Owners")"> <i class="glyphicon glyphicon-home"></i> My Condos </a>
                            </li>
                        }
                        @*if (User.Identity.IsAuthenticated) {
                            <li><a href="@Url.Action("UserManual","Home")">Owner User Manual</a></li>
                        }*@
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/vue-axios")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(autoHideShowMenu)
        $(window).resize(autoHideShowMenu)

        function autoHideShowMenu() {
            if ($(this).width() <= 1024)
                $("#sidebar").addClass("inactive")
            else {
                var hideSidebar = boolParse(localStorage.getItem("costadiamante_menuToggle"));
                if (hideSidebar)
                    $("#sidebar").addClass("inactive")
                else
                    $("#sidebar").removeClass("inactive")
            }
        }
    </script>
</body>
</html>
