@using Microsoft.AspNet.Identity
@using CostaDiamante_HOA.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HOA Office - Costa Diamante Resorts</title>
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/jqueryui")
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="hidden-print">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="inner">
                <!-- Header -->
                <header id="header" class="hidden-print"></header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>
                <br />
                <footer class="hidden-print">
                    <p>&copy; @DateTime.Now.Year - Costa Diamante Resort HOA System</p>
                    <p style="font-size: .8em">Developed by 
                        <a target="_blank" href="http://www.netcodesolutions.net/">
                            <span class="icon-netcode"><span class="path1"></span><span class="path2"></span></span> Netcode
                        </a>
                    </p>
                </footer>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="hidden-print">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu" >
                    <header class="major">
                        @{ 
                            string urlHome = @"/";
                            if (User.IsInRole(ApplicationUser.RoleNames.OWNER))
                            {
                                urlHome += @"Owners/Details";
                            }
                        }
                        <a href='@urlHome'>
                            <!--<img src="~/images/logo.png" alt="Costa Diamante HOA" class="img-responsive">-->
                            <h1>Costa Diamante</h1>
                            <strong>HOA System</strong>
                        </a>
                    </header>
                    <ul>
                        @if (Request.IsAuthenticated && Context.User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                        {
                            <li><a href="~/Owners">Owners and Users List</a></li>
                            <li><a href="~/Condo">Condos</a></li>
                            <li><a href="~/Visits">Visits Report</a></li>
                        }
                        else if (Request.IsAuthenticated && Context.User.IsInRole(ApplicationUser.RoleNames.OWNER))
                        {
                            <li><a href="@Url.Action("Index","Permissions",new { id = User.Identity.GetUserId() })">Check in List</a></li>
                            <li><a href="@Url.Action("Details","Owners",new { id = User.Identity.GetUserId() })">Notify New Visit</a></li>
                            <li><a href="~/Visits">Your Visits History</a></li>
                        }
                        @*if (User.Identity.IsAuthenticated) {
                            <li><a href="@Url.Action("UserManual","Home")">Owner User Manual</a></li>
                        }*@
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
