@using CostaDiamante_HOA.Models
@model CostaDiamante_HOA.Models.Visit

@{
    Payments payment = new Payments();

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.condo.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condo.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureDate)
        </dd>

    </dl>
</div>
<div>
    @Html.Partial("../Payments/Partial_CreatePayment", payment, new ViewDataDictionary {
            { "ownerID", Model.ownerID },
            { "visitID", Model.visitID }
    })
</div>

<div>
    @Html.Partial("../Payments/Partial_ListPayments", Model.payments.ToList());
</div>



<p>
    @*@Html.ActionLink("Create new payment", "Create", "Payments", new { visitID = Model.visitID, ownerID = Model.ownerID }, null) |*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/node_modules/vue/dist/vue.min.js")
@Scripts.Render("~/node_modules/axios/dist/axios.min.js")

    <script>

    </script>
}