@using CostaDiamante_HOA.Models
@model CostaDiamante_HOA.Models.Visits

@{
    ViewBag.Title = "Guests List for Visit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hidden-print" style="margin-bottom: 2em">
    <a href='@Url.Action("Index")'>
        <i class="glyphicon glyphicon-arrow-left"></i> Back to Visits Report
    </a>

    <button class="btn btn-info pull-right" onclick="window.print()">
        <i class="fa fa-print"></i> Print
    </button>
</div>
<div class="logoPrintPanel visible-print">
    <img src="/images/logo_print.png" alt="Sonoran HOA" class="img-responsive">
</div>

@*Details visits*@
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            @*<strong>@Html.DisplayNameFor(model=>model.visitsID):</strong> @Model.visitsID | <strong>Period of time: </strong>@Model.timePeriod*@
            <strong>@Html.DisplayNameFor(model=>model.visitsID):</strong> @Model.visitsID @*| <strong>Period of time: </strong>@Model.timePeriod*@
        </h2>
    </div>
    <div class="panel-body">
        @if (!User.IsInRole(ApplicationUser.RoleNames.OWNER))
        {
            <dl class="dl-horizontal col-xs-4">
                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <dd>
                    @Model.date.ToLongDateString()
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.owner.fullName)
                </dt>
                <dd>
                    <a class="hidden-print" href="@Url.Action("Details", "Owners", new { id = Model.ownerID })">
                        @Html.DisplayFor(model => model.owner.fullName)
                    </a>
                    <span class="visible-print">@Model.owner.fullName</span>
                </dd>
            </dl>
        }

        <dl class="dl-horizontal col-xs-4">
            <dt>
                @Html.DisplayNameFor(model => model.arrivalDate)
            </dt>
            <dd>
                @Model.arrivalDate.ToLongDateString()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.condo.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.condo.name)
            </dd>
        </dl>

        <dl class="dl-horizontal col-xs-4">
            <dt>
                @Html.DisplayNameFor(model => model.departureDate)
            </dt>
            <dd>
                @Model.departureDate.ToLongDateString()
            </dd>
        </dl>
    </div>
</div>

@*Visitors List*@
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            Guests
        </h2>
    </div>
    <div class="panel-body">
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                    </th>

                    @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                    {
                        @*Function Column*@
                        <th class="hidden-print">  </th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int num = 1;
                    foreach (var item in Model.visitors.Where(vis => !vis.permissions.isWildCard)
                            .OrderBy(vis => vis.guestFullName))
                    {
                        <tr>
                            <td> @num </td>
                            <td> @Html.DisplayFor(model => item.guestFullName) </td>

                            @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                            {
                                <td class="hidden-print">
                                    <a href='@Url.Action("Delete","Permissions_Visits",
                                      new { id = item.permissions_visitsID })'>
                                        <i class="glyphicon glyphicon-remove"></i> Remove
                                    </a>
                                </td>
                            }
                        </tr>
                        num++;
                    }
                }
            </tbody>
        </table>
        @if(Model.visitors.Where(vis => vis.permissions.isWildCard).Count() > 0) {
            <strong>Unnamed Non-Paying Guests</strong>
            <table class="tblWildcards">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>

                        <th>
                        </th>
                        @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN)) {
                            @*Function Column*@
                            <th class="hidden-print"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                    foreach (var item in Model.visitors.Where(vis=>vis.permissions.isWildCard)
                                .OrderBy(vis => vis.guestFullName))
                    {
                        <tr>
                            <td> @num </td>
                            <td> @Html.DisplayFor(model => item.guestFullName) </td>
                            @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                            {
                                @*Function Column*@
                                <td class="hidden-print">
                                    <a href='@Url.Action("Delete", "Permissions_Visits",
                                            new { id = item.permissions_visitsID })'>
                                        <i class="glyphicon glyphicon-remove"></i> Remove
                                    </a>
                                </td>
                            }
                        </tr>
                        num++;
                    }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

