@model Sonora_HOA.Models.Visits
@using Sonora_HOA.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Condo condo = ViewBag.condo;
    CheckInList checkInList = ViewBag.checkInList;

    ViewDataDictionary vdd = new ViewDataDictionary();
    vdd.Add("selectionMode", true);
    vdd.Add("ownerID", Model.ownerID);
}

<a href="@Url.Action("Details","Owners",new { id=condo.owner.Id})">
    <i class="glyphicon glyphicon-arrow-left"></i>Back to Owner's details
</a>

@if (Request.IsAuthenticated && User.IsInRole(ApplicationUser.RoleNames.ADMIN))
{
    @Html.Partial("../Owners/Partial_infoOwner", condo.owner)
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Visit Notification Form</h2>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.date)
            @Html.HiddenFor(model => model.condoID)
            @Html.HiddenFor(model => model.ownerID)
            <div class="col-md-12">
                @Html.LabelFor(model => condo.name)
                <span>@condo.name</span>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.arrivalDate)
                    @Html.EditorFor(model => model.arrivalDate, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.arrivalDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.departureDate)
                    @Html.EditorFor(model => model.departureDate, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.departureDate, "", new { @class = "text-danger" })
                </div>
                <button id="btnRegister" name="createVisit" class="btn btn-success"
                        onclick="registerList()" disabled>
                    Notify Visit
                </button>
            </div>

            <div id="errorMessage" class="text-danger" hidden></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        @*Shows current year period checkin lists*@
        <div class="col-md-12">
            <h3>Current Check In List: @checkInList.period.ToString("MMMM/dd/yyyy")</h3>
            <div class="alert alert-info"><strong>Max. 8 guest</strong> to be authorized for this visit.</div>
            @Html.Partial("../Permissions/Partial_ShowCheckInList", checkInList, vdd)
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var cilStartDate = Date.parse('@checkInList.period.startDate.ToString("yyyy-MM-dd")')
        var cilEndDate = Date.parse('@checkInList.period.endDate.ToString("yyyy-MM-dd")')

        function changeIcon(boton) {
            $(boton).toggleClass("fa-window-minimize fa-window-maximize")
        }

        //Date picker validation, and button block
        $("#arrivalDate, #departureDate").on('input',function () {
            enableOrDisableBtnRegister();
        });

        function enableOrDisableBtnRegister(){
            var arrival = Date.parse($("#arrivalDate").val());
            var departure = Date.parse($("#departureDate").val());

            var valCheckList = checkedList.length>0;
            var valRange = arrival <= departure;
            var valCheckInRange = arrival >= cilStartDate && arrival <= cilEndDate
            && departure >= cilStartDate && departure <= cilEndDate;

            var enable = valCheckList && valRange && valCheckInRange;
            var errorMsg = (!valCheckList ? "No guest has been selected. " : "")
                + (!valRange ? "Introduced time range is not valid. " : "")
                + (!valCheckInRange ? "Selected dates are out of current Check In List year period. " : "");

            $("#btnRegister").attr('disabled', !enable);
            if (!enable) {
                $("#errorMessage").html(errorMsg).fadeIn(500)
            } else {
                $("#errorMessage").fadeOut(500)
            }
        }

        //Send all checked condos to server to be associated to current owner.
        function registerList() {
            console.log(JSON.stringify(checkedList));
            var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
            var ownerID = '@condo.ownerID';
            var visit = {
                arrivalDate: $('#arrivalDate').val(),
                departureDate: $('#departureDate').val(),
                date: $('#date').val(),
                condoID: $('#condoID').val(),
                ownerID: $('#ownerID').val(),
                visitors: checkedList
            }
            jQuery.postJSON("/Visits/Create",
                { visit: visit },
                "JSON",
                function (result) {
                    if (result.savedRegs > 0) {
                        $("#errorMessage").fadeOut(500)
                        window.location.replace('/Visits/Index/?' +
                            'periodReported.startDate=' + $('#arrivalDate').val() +
                            '&periodReported.endDate=' + $('#departureDate').val())
                    } else {
                        var error = result.error;
                        $("#errorMessage").html(error).fadeIn(500)
                    }
                },
                function (request) {
                    alert("Error: " + JSON.stringify(request));
                }, null, antiForgeryToken)
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
