@model Sonora_HOA.Models.Visits
@using Sonora_HOA.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Permissions> permissions = ViewBag.Permissions;
    Permissions permission = permissions.FirstOrDefault();
    string ownerID = permission.condo.Id;
}

@using (Html.BeginForm("Create","Visits", new { id = ownerID }))
{
    @Html.AntiForgeryToken()
    @*@Html.Hidden("",condoId)*@
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Create Visit</h2>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @*<h4>Visits</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.arrivalDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.arrivalDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.arrivalDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.departureDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.departureDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.departureDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
    
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Permission</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("../Permissions/Partial_CreatePermission", permission)
    </div>
</div>
@Html.Partial("../Permissions/Partial_PermissionList", permissions)



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
