@model Sonora_HOA.Models.Owner
@using Sonora_HOA.Models;
@{ 
    var Guests = Model.Guest.Where(o => o.Id == Model.Id).ToList();
}

<div class="form-group">
    @using (Html.BeginForm("Create", "Guest", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id", Model.Id)
        <div class="row">
            <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" name="lastname" class="form-control" required>
            </div>
        </div>

        <button class="btn btn-success">Register</button>

    }
</div>





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Guests)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","Guest", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete","Guest", new { id = item.Id },null)
            </td>
        </tr>
    }

</table>


