@model Sonora_HOA.Models.Owner
@using Sonora_HOA.Models;
@{
    var Guests = Model.Guests.Where(o => o.ownerID == Model.Id).ToList();
    Guest newGuest = new Guest();
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Guest</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Guest", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ownerID", Model.Id)
            <div class="form">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => newGuest.name)
                    @Html.EditorFor(model => newGuest.name,
                            new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => newGuest.lastName)
                    @Html.EditorFor(model => newGuest.lastName,
                            new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-success">Register</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Guests)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Guest", new { id = item.ownerID }, null) |
                @Html.ActionLink("Delete", "Delete", "Guest", new { id = item.ownerID }, null)
            </td>
        </tr>
    }

</table>
