@model IEnumerable<Sonora_HOA.Models.Condo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner.fullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner.fullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.number }) |
            @Html.ActionLink("Details", "Details", new { id=item.number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.number }) |
            @Html.ActionLink("Owner","Details","Owners", new { id = item.ownerID }, null)
        </td>
    </tr>
}

</table>
