@model CostaDiamante_HOA.Models.Permissions_Visits

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Permissions_Visits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.permissions.permissionsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permissions.permissionsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visits.visitsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visits.visitsID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.permissions_visitsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
